

@media only screen and (min-width:1920px) {
    .container{
        max-width: 1400px;
    }
    section {
        padding: 70px 0;
    }
    body{
        font-size: 20px;
    }
    
    h1 {
        font-size: 54px;
    }
    h2 {
        font-size: 48px;
    }
    .btn{
        font-size: 20px;
    }
    
    .navbar-brand img {
        max-width: 140px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 16px;
    }
    .dropdown-item{
        font-size: 14px;
    }


    .banner-caption {
        max-width: 25%;
    }

    .our-insurance h3{
        font-size: 30px;
    }

    .industry-expertise-slider .swiper-button-next {
        right: 46%;
    }

    .testimonials-box h4{
        font-size: 26px;
    }
    .testimonials-box p{
        margin-bottom: 40px;
    }

    .form-item p{
        font-size: 18px;
    }

    footer ul li a{
        font-size: 16px;
    }
    footer p{
        font-size: 14px;
    }

    .inner-banner h2.text{
        font-size: 52px;
    }

    .about-form h3{
        font-size: 30px;
    }

    .blue-horizontal-bg {
        width: 42.5%;
        height: 110px;
    }
    
    .services-slider .figure-caption h3{
        font-size: 22px;
    }

    .blog-about .copy h3 {
        font-size: 36px;
    }
    .latest-item .latest h4{
        font-size: 20px;
    }

    .services-offer ul li{
        font-size: 24px;
        padding: 5px 0 28px 0px;
    }

    .blog .blog-card .figure-caption h4{
        font-size: 24px;
    }
    

    .about h3{
        font-size: 36px;
    }

    .quotes h3{
        font-size: 30px;
    }
    
}

@media (max-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

@media only screen and (max-width:1024px){
    body, .btn{
        font-size: 14px;
    }
    h1{
        font-size: 30px;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 0 5px;
    }
    
    .map .container {
        top: 80%;
        transform: translateY(-80%);
    }
   .swiper-button-prev {
        right: 12%;
    }
    .our-insurance h3 {
        font-size: 16px;
    }
    .our-insurance-slider .swiper-slide .inner-item p {
        font-size: 13px;
    }
    .testimonials-box{
        padding: 20px;
        bottom: -35%;
    }
    .testimonials-box h4 {
        font-size: 20px;
    }
    .testimonials-box a {
        font-size: 16px;
        width: 70px;
        height: 70px;
    }

    .map .center-div{
        margin: 20px 0 !important;
    }

    .swiper-button-next, .swiper-button-prev{
        width: 40px;
        height: 40px;
        background-size: 25px;
    }
    .industry-expertise-slider .swiper-button-next {
        right: 44%;
    }
    .blue-bg{
        left: -10px;
        top: -10px;
    }
    .blue-vertical, .left-line, .right-line{
        width: 10px;
    }
    .green-horizontal{
        height: 10px;
    }
    .left-line{
        left: 10px;
    }
    .right-line{
        right: 10px;
    }
    .vertical-line-inner{
        top: 35%;
    }

    .inner-banner h2.text{
        font-size: 30px;
    }

    
}
@media only screen and (max-width:991px){
    h2 {
        font-size: 24px;
    }
    .inner-banner h2.text{
        font-size: 26px;
    }
     /* header end */
    /* .navbar-brand img {
        max-width: unset;
        width: 145px;
    } */
    .navbar-toggler, .navbar-toggler:focus{
        border: none;
        box-shadow: none;
        outline: none;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid rgba(0 0 0 / 50%);
        display: block;
        position: relative;
    }
    .navbar-collapse{
        position: absolute;
        background: #fff;
        left: -15px;
        right: -15px;
        top: 63px;
        height: 100vh;
        /* padding-top: 50px;
        width: 300px; */
    }
    .nav-item{
        display: block;
    }
    .dropdown-item{
        width: 100%;
        background: #f1f1f1;
    }
    .dropdown-toggle::after{
        position: absolute;
        right: 15px;
        top: 55%;
        transform: translateY(-50%);
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        margin: 0;
    }
    
    .burger {
        width: 45px;
        height: 45px;
        position: fixed;
        top: 10px;
        right: 15px;
        border-radius: 50%;
        z-index: 99999;
        background: #61CE70
    }
    
    .burger.bg-blue {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
    }
    
    .burger span {
        position: relative;
        margin-top: 9px;
        margin-bottom: 9px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -13px;
        margin-top: -1px
    }
    
    .burger span,
    .burger span::before,
    .burger span::after {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;
        outline: 1px solid transparent;
        -webkit-transition-property: background-color, -webkit-transform;
        -moz-transition-property: background-color, -moz-transform;
        -o-transition-property: background-color, -o-transform;
        transition-property: background-color, transform;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s
    }
    
    .burger span::before,
    .burger span::after {
        position: absolute;
        content: "";
        width: 26px
    }
    
    .burger span::before {
        top: -7px
    }
    
    .burger span::after {
        top: 7px
    }
    
    .burger.clicked span {
        background-color: transparent
    }
    
    .burger.clicked span::before {
        -webkit-transform: translateY(9px) rotate(45deg);
        -moz-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
        top: -10px
    }
    
    .burger.clicked span::after {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -moz-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        -o-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg)
    }
    
    .burger.clicked span:before,
    .burger.clicked span:after {
        background-color: #fff
    }
    
    .burger:hover {
        cursor: pointer
    }
    .sticky .burger{
        top: 10px;
    }

    .mobile-menu{
        display: block;
        background: var(--gray-bg);
        padding: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 35px;
        height: 35px;
        z-index: 99;
    }
    /* .mobile-toggle{
        width: 85%;
    } */
    .mobile-toggle:after{
        content: unset;
    }
    /* header end */

    .banner-caption {
        max-width: 50%;
    }
    .about .pe-5{
        padding-right: 15px !important;
        margin-bottom: 3em;
    }
    .green-vertical {
        margin-bottom: 1em;
    }
    .testimonials-slider {
        padding: 0 0 6em 0;
        margin-top: 0 !important;
    }
    .testimonials-slider .slide-img {
        margin: 2em;
    }
    .testimonials-slider .swiper-slide.swiper-slide-active {
        transform: scale(1) !important;
    }
    .testimonials-box {
        padding: 35px 20px;
        bottom: -15%;
    }
    .swiper-button-prev {
        right: 13%;
    }
    

    .industry-expertise-slider .swiper-button-next {
        right: 42%;
    }

    .get-in-touch-form {
        padding: 25px 15px;
    }
    .get-in-touch .col-sm-8{
        width: 100% !important;
    }


    .about-form{
        width: 90%;
    }


    .blog-about .copy {
        padding-left: 15px;
    }

    .blog-about .copy h3 {
        font-size: 26px;
    }


    .blog-img {
        padding: 0px;
    }

    .services-offer {
        padding: 35px 0 40px 0px;
    }
    .services-offer h2 {
        margin-bottom: 15px;
    }
    .services-offer ul li {
        padding: 0px 0 10px 0px;
        font-size: 16px;
    }

    .blog .blog-card .figure-caption h4 {
        font-size: 16px;
        padding-right: 10%;
    }
    .quotes h3 {
        padding: 20px 70px;
        font-size: 24px;
    }

    footer .col-sm-3.reach-us{
        width: 40%;
    }
    footer .col-sm-6{
        width: 60%;
    }
    footer .col-sm-3{
        width: 100%;
    }

    
}

@media only screen and (max-width:767px){
    .mobile-m-0{
        margin: 0 !important;
    }
    .padding-m-0{
        padding:15px !important;
    }
    body, .btn {
        font-size: 14px;
        line-height: 1.4;
    }
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
    section {
        padding: 30px 0;
    }
    .green-horizontal{
        height: 10px;
    }
    .blue-horizontal{
        height: 10px;
    }
    /* .green-vertical {
        width: 25%;
    } */
    .video-banner {
        position: relative;
        height: 40vh;
    }
    .video-banner video{
        height: 40vh;
    }
    .about-sec {
        padding: 10px;
    }
    .blue-bg {
        top: 0px;
        left: 0px;
        width: 50%;
        height: 80%;
    }

    .banner-caption {
        max-width: 70%;
        padding: 0 15px;
    }
    .banner-caption h1, .banner-caption p{
        margin-bottom: 10px !important;
    }
    /* .swiper-pagination-bullets {
        display: none;
    } */
    
    .map .green-loc, .map .blue-loc{
        font-size: 10px;
        padding: 8px 15px;
    }
    .map .container {
        top: 60%;
        transform: translateY(-60%);
    }
    .map .center-div {
        margin: 30px 0 !important;
    }
    .map .mobile-margin {
        margin-top: 0px;
    }

    .our-insurance {
        padding: 30px 1em;
        /* margin: 0 -15px; */
        /* margin: 0 1em; */
    }
    .our-insurance-slider .swiper-slide-active .inner-item {
        -webkit-box-shadow: 0px 10px 10px 0px rgb(195 195 195 / 50%);
        -moz-box-shadow: 0px 10px 10px 0px rgb(195 195 195 / 50%);
        box-shadow: 0px 10px 10px 0px rgb(195 195 195 / 50%);
    }
    .our-insurance-slider .swiper-slide .inner-item {
        padding: 1.5em;
        margin: 10px;
        border-radius: 20px;
    }
    .our-insurance-slider .swiper-slide .inner-item .content {
        padding-right: 0;
    }
    .our-insurance-slider {
        padding-bottom: 6em;
    }
    .our-insurance h3 {
        font-size: 17px;
    }
    .swiper-button-prev {
        right: 20%;
    }
    .our-insurance-slider .swiper-slide .inner-item .content span {
        width: 35px;
        height: 35px;
    }

    .industry-expertise-item .copy{
        font-size: 22px;
    }
    .expertise-item {
        padding: 10px 0;
    }
    .industry-expertise-slider{
        padding-bottom:80px;
    }
    .industry-expertise-slider .swiper-button-next {
        right: 38%;
    }
    .content a svg {
        width: 15px;
        height: 15px;
    }
   
    .heading-bg {
        margin-top:0;
    }
    .testimonials {
        padding: 0;
    }
    .testimonials:before{
        content: unset;
    }
    .testimonials-sec .swiper-pagination{display: none;}

    .testimonials-slider {
        padding: 0 0 9em 0;
    }
    .testimonials-box{
        bottom: -15%;
        padding: 25px 15px;
    }
    .testimonials-slider .slide-img {
        margin: 0 15px;
    }
    .testimonials-slider .slide-img img{
        width: 100%;
    }
    .testimonials-box h4 {
        font-size: 18px;
        margin-bottom: 10px !important;
    }

    .get-in-touch{
        padding: 0;
    }
    .get-in-touch-form{
        margin: 30px 0 50px 0;
    }
    .form-item{
        height: unset;
    }
    .form-wizard-steps {
        margin: 20px 0;
    }

    footer .col-sm-3.reach-us{
        width: 100%;
    }
    footer .col-sm-6{
        width: 100%;
    }
    footer h4{
        margin: 30px 0 10px 0;
    }


    .value {
        background-size: cover;
    }
    .value .value-card{
        height: 150px;
    }

    .vision-mission-main {
        margin-top: 0px;
    }
    .vision-mission{
        margin: 20px 0 0 0;
    }

    .blog-about .copy h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .blog-insurance{
        background: #f1f1f1;
    }
    .blog-insurance-slider {
        padding-top: 0;
        padding-bottom: 90px !important;
    }
    .blog-insurance-slider .swiper-button-next,
    .blog-insurance-slider .swiper-button-prev{
        top: unset;
        bottom: 30px;
    }
    .blog-insurance-slider .swiper-button-next{
        left: 18%;
    }
    .blog-img {
        padding: 10px 0;
    }
    .services-offer{
        margin-top: 0;
        margin-right: -15px;
    }
    .blue-vertical, .left-line, .right-line {
        width: 5px;
    }

    .contact-form{
        margin-top: 20px;
    }
    .contact-form h2{
        font-size: 20px;
    }
    h2 span.text-blue{
        padding: 10px;
    }
}