html {
    scroll-behavior: smooth;
}

*,
:after,
:before {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* font-family: "Arimo", serif; */
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 16px;
    line-height: 1.6;
    color: #716C80;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 700;
}

h2 {
    color: var(--blue-text);
    font-size: 40px;
    font-weight: 700;
}
h3 {
    color: var(--black-color);
    font-size: 26px;
    font-weight: 700;
}

h2 span {
    color: var(--green-text);
}
h2 span.text-blue {
    color: var(--white-color);
    background: var(--blue-bg);
    padding: 12px 50px;
}


section {
    position: relative;
    padding: 50px 0;
}

.border-none{
    border: none !important;
}

:root {
    --black-color: #000;
    --white-color: #fff;
    --blue-text: #58468C;
    --green-text: #61CE70;
    --blue-btn: #58468C;
    --blue-bg: #58468C;
    --green-bg: #61CE70;
    --gray-bg: #F3F3F3;
    --heading-bg: #EDE7FF;
    --link-text: #6941C6;
}

.btn {
    background: var(--blue-btn);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
    border: none;
    margin-top: 10px;
}

.btn:hover,
.btn:focus,
.btn:visited,
.btn-check:checked+.btn, 
.btn.active, 
.btn.show, .btn:first-child:active, 
:not(.btn-check)+.btn:active {
    background: var(--green-bg);
    color: var(--white-color);
    border: none;
}

img {
    width: 100%;
}
.text-normal{
    font-style: normal;
}
.green-horizontal, .green-vertical {
    background: var(--green-bg);
    height: 20px;
    width: 0;
    display: block;
}
.green-vertical {
    width: 17px;
    height: 100%;
    position: absolute;
    left: -35px;
    z-index: 9;
}

.green-center {
    background: var(--green-bg);
    height: 5px;
    width: 25%;
    display: block;
    left: 0;
    right: 0;
    margin: auto auto 20px auto;
}

.blue-horizontal{
    background: var(--blue-bg);
    height: 20px;
    width: 0;
    display: block;
}

.blue-vertical {
    background: var(--blue-bg);
    height: 0;
    float: left;
    position: absolute;
    left: 0;
    width: 15px;
    transition: height 1s ease;
}
.vertical-line-inner{
    transform: translateY(-50%);
    top: 45%;
}
/* .overview .blue-vertical {
    left: 0;
} */
.blue-horizontal-bg{
    width: 42.5%;
    height: 70px;
    background: var(--blue-bg);
    display: block;
    position: absolute;
    top: 63px;
    z-index: -1;

}
.left-line, .right-line {
    width: 20px;
    height: 0;
    background: var(--blue-bg);
    position: absolute;
    transition: height 1s ease;
}
.left-line {
    left: 10%;
    top: 0%;
    transform: translateY(-30%);
}
.right-line {
    right: 10%;
    bottom: 0%;
    transform: translateY(-20%);
}
/* .blue-vertical {
    position: relative;
} */

/* .blue-vertical:before {
    content: "";
    position: absolute;
    background: var(--blue-bg);
    top: 50px;
    bottom: 50px;
    width: 10px;
    display: block;
    left: 0;
}
.green-vertical-left:before {
    content: "";
    position: absolute;
    background: var(--green-bg);
    top: 0px;
    bottom: 0px;
    width: 15px;
    display: block;
    left: -35px;
    z-index: 9;
}
.blue-vertical-left:before {
    content: "";
    position: absolute;
    background: var(--blue-bg);
    top: 0px;
    bottom: 0px;
    width: 15px;
    display: block;
    left: -35px;
    z-index: 9;
} */
a {
    color: var(--blue-text);
    text-decoration: none;
}

.text-underline {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
}
.figure{
    overflow: hidden;
}
a.zoom-effect{
    overflow: hidden;
}
a.zoom-effect:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
a.zoom-effect .zoom-img{
    overflow: hidden;
}
a.zoom-effect .zoom-img img{
    transition: .5s ease;
}
/* header start */

header {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    padding: 0 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(199, 199, 199, 0.3);
}

.sticky {
    position: fixed;
    width: 100%;
    top: -100px;
    left: 0;
    right: 0;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    z-index: 999;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-width: 120px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--blue-text);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 15px;

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--green-text);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    padding: 0;
    border: none;
    border-radius: 0;
}

.dropdown-item {
    padding: 12px;
    border-bottom: 1px solid rgba(0 0 0 / 50%);
    font-size: 13px;
    color: var(--blue-text);
    width: 220px;
    text-wrap: wrap;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
    color: #fff;
    background: var(--green-bg);
    border-bottom: 1px solid rgb(97, 206, 112);
}

.dropdown-toggle::after {
    background: url(../images/menu-arrow.svg) no-repeat;
    border: none;
    width: 12px;
    height: 12px;
    background-size: 100%;
    transform: translateY(50%);
    margin-left: 10px;
}
.mobile-menu{
    display: none;
}

/* header end */



/* Banner Start */
.banner-caption {
    max-width: 28%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}

/* Banner End */

/* about start */
.about .btn {
    font-size: 16px;
}

.about-sec img {
    position: relative;
    z-index: 9;
}

.blue-bg {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 50%;
    height: 90%;
    background: var(--blue-bg);
    z-index: 1;
}
.about h3{
    color: var(--blue-text);
    margin-bottom: 10px;
}
.about h4{
    color: var(--green-text);
    font-weight: 700;
    font-size: 24px;
}
.about .about-list{
    padding-left: 20px;
    margin-top: 20px;
    width: 75%;
}
.about .about-list li{
    padding-bottom: 15px;
}

/* about end */

/* map STart */
.map .container {
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 0;
    right: 0;
}

.map .green-loc,
.map .blue-loc {
    background: var(--green-bg);
    position: relative;
    padding: 10px 22px;
    color: var(--white-color);
}

.map .blue-loc {
    background: var(--blue-bg);
}

.map span:before {
    content: "";
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

/* map ENd */

/* Our Insurance Start */
/* .our-insurance p {
    font-size: 18px;
} */

.our-insurance h3 {
    font-size: 26px;
    color: var(--black-color);
    font-weight: 700;
}

.our-insurance-slider {
    padding-bottom: 4em;
}

.our-insurance-slider .swiper-slide {
    background: var(--gray-bg);
    padding: 2em;
    border-radius: 45px;
    /* margin: 30px 0; */
    margin: 2em 1em;
}

.our-insurance-slider .swiper-slide .content {
    padding-right: 30px;
    width: 65%;
}

.our-insurance-slider .swiper-slide .content span {
    background: var(--blue-bg);
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.content a {
    font-style: normal;
    text-decoration: none;
    /* font-size: 18px; */
    color: var(--black-color);
}

.content a svg {
    fill: #61CE70;
    transition: 0.5s;
}

.content a:hover svg {
    fill: #fff;
}

.our-insurance-slider .swiper-slide .slide-img {
    width: 45%;
    border-radius: 10px;
}

.our-insurance-slider .swiper-slide p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--black-color);
}

.our-insurance-slider .swiper-slide.swiper-slide-active {
    -webkit-box-shadow: 0px 6px 15px 5px rgb(195 195 195 / 50%);
    -moz-box-shadow: 0px 6px 15px 5px rgb(195 195 195 / 50%);
    box-shadow: 0px 6px 15px 5px rgb(195 195 195 / 50%);
}

/* Our Insurance End */


/* industry expertise start */
.blog-insurance-slider .blog-about .copy{
    padding-left: 0;
}
.blog-insurance-slider .blog-about .copy h3{
    width: 80%;
    margin-bottom: 10px;
}
.blog-insurance-slider {
    padding-top: 1em;
}
.blog-insurance-slider .swiper-button-next, .blog-insurance-slider .swiper-button-prev {
    background: var(--gray-bg) url(../images/blog-arrow.svg) center center no-repeat;
    border: 2px #B3B3B3 solid;
    border-radius: 15px;
    box-shadow: none;
}
.blog-insurance-slider .swiper-button-next:hover,
.blog-insurance-slider .swiper-button-prev:hover {
    background: var(--green-bg) url('../images/blog-arrow.svg') center center no-repeat;
}
.blog-insurance-slider .swiper-button-prev {
    left: 0;
    top: 65%;
    transform: rotate(180deg);
}
.blog-insurance-slider .swiper-button-next {
    left: 6%;
    top: 65%;
    transform: rotate(360deg);
}
.industry-expertise-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.expertise-item {
    position: relative;
}

.industry-expertise-item .copy {
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 36px;
    color: var(--blue-text);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.expertise-item-1 {
    grid-area: 1 / 1 / 2 / 3;
}

.expertise-item-2 {
    grid-area: 1 / 3 / 2 / 5;
}

.expertise-item-3 {
    grid-area: 1 / 5 / 2 / 7;
}

.expertise-item-4 {
    grid-area: 2 / 1 / 3 / 3;
}

.expertise-item-5 {
    grid-area: 2 / 3 / 3 / 5;
}

.expertise-item-6 {
    grid-area: 2 / 5 / 3 / 7;
}

.industry-expertise-slider .swiper-button-next {
    right: 45%;
}

.industry-expertise-slider .swiper-button-prev {
    right: 50%;
}

/* industry expertise end */




.heading-bg {
    background: var(--heading-bg);
}

/* testimonials STart */
.testimonials {
    padding-right: 30%;
    transition: 1s;
}

.testimonials:hover {
    padding-right: 0;
}

.testimonials:before {
    content: "";
    width: 20px;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 20%;
    top: 0;
    transition: 1s;
}

.testimonials:hover::before {
    background: var(--heading-bg);
}

.testimonials-slider {
    padding: 1em 0 10em 0;
}

.testimonials-box {
    position: absolute;
    bottom: -20%;
    left: 10%;
    background: rgb(0 0 0 / 32%);
    max-width: 415px;
    padding: 30px 20px;
    border-radius: 5px 50px 5px 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
}

.testimonials-slider .swiper-slide.swiper-slide-active .testimonials-box {
    -webkit-box-shadow: 0px 20px 20px 0px rgb(195 195 195 / 50%);
    -moz-box-shadow: 0px 20px 20px 0px rgb(195 195 195 / 50%);
    box-shadow: 0px 20px 20px 0px rgb(195 195 195 / 50%);
    opacity: 1;
}

.testimonials-slider .swiper-slide {
    transform: scale(.84) translateZ(0);
}

.testimonials-slider .swiper-slide.swiper-slide-active {
    transform: scale(1.1);
    opacity: 1 !important;
}



.testimonials-box h4 {
    color: var(--white-color);
    line-height: 1.5;
    font-size: 24px;
}

.testimonials-box p {
    color: var(--white-color);
    line-height: 1.5;
    margin-bottom: 30px;
}

.testimonials-box a {
    font-size: 18px;
    text-decoration: none;
    width: 80px;
    height: 80px;
    background: var(--green-bg);
    text-align: center;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    line-height: 1.4;
    transition: 0.5s;
}

.testimonials-box a:hover {
    background: var(--blue-bg);
}

.swiper-pagination-bullet {
    padding: 7px;
}

.swiper-pagination-bullet-active {
    background: var(--green-bg);
}

.swiper-button-next,
.swiper-button-prev {
    top: unset;
    bottom: 12px;
    right: 5%;
    background: var(--blue-bg) url('../images/arrow.svg') center center no-repeat;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    transform: rotate(180deg);
    border-radius: 50px;
    -webkit-box-shadow: 0px -5px 10px 1px rgb(88 70 140 / 36%);
    -moz-box-shadow: 0px -5px 10px 1px rgb(88 70 140 / 36%);
    box-shadow: 0px -5px 10px 1px rgb(88 70 140 / 36%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--green-bg) url('../images/arrow.svg') center center no-repeat;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-prev {
    left: unset;
    right: 10%;
    transform: rotate(0deg);
    -webkit-box-shadow: 0px 5px 10px 1px rgb(88 70 140 / 36%);
    -moz-box-shadow: 0px 5px 10px 1px rgb(88 70 140 / 36%);
    box-shadow: 0px 5px 10px 1px rgb(88 70 140 / 36%);
}

/* testimonials ENd */

/* get-in-touch-form start */
.get-in-touch {
    margin-bottom: 50px;
}

.get-in-touch .get {
    border: 1px #ccc solid;
    padding: 0.6em;
    border-radius: 8px;
    -webkit-box-shadow: 0 0px 26px 1px rgb(195 195 195 / 50%);
    -moz-box-shadow: 0 0px 26px 1px rgb(195 195 195 / 50%);
    box-shadow: 0 0px 26px 1px rgb(195 195 195 / 50%);
}

.get-in-touch-form {
    padding: 25px 30px;
    margin: 40px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0px 26px 1px rgb(195 195 195 / 50%);
    -moz-box-shadow: 0 0px 26px 1px rgb(195 195 195 / 50%);
    box-shadow: 0 0px 26px 1px rgb(195 195 195 / 50%);
}


.form-wizard-steps {
    margin: 40px 0;
    border-bottom: 1px solid #D9DBE9;
    padding-bottom: 30px;
}

.form-wizard-steps li {
    width: 25%;
    float: left;
    position: relative;
}

.form-wizard-steps li::after {
    background-color: var(--gray-bg);
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* border-bottom: 1px solid var(--gray-bg); */
    /* border-top: 1px solid var(--gray-bg); */
    transition: 0.5s;
}

.form-wizard-steps li span {
    background-color: var(--gray-bg);
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
}

.form-wizard-steps li:last-child::after {
    width: 50%;
}

.form-wizard-steps li.active span,
.form-wizard-steps li.activated span {
    background-color: var(--blue-bg);
    color: var(--white-color);
}

.form-wizard-steps li.active::after,
.form-wizard-steps li.activated::after {
    background-color: var(--green-bg);
    left: 50%;
    width: 50%;
    border-color: var(--green-bg);
    transition: 0.5s;
}

.form-wizard-steps li.activated::after {
    width: 100%;
    border-color: var(--green-bg);
    transition: 0.5s;
}

.form-wizard-steps li:last-child::after {
    left: 0;
}

.form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.form-item {
    height: 320px;
    transition: 0.5s;
}

.form-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px
}

.form-item h3 {
    color: var(--blue-text);
    font-size: 24px;
    margin-bottom: 10px
}

.form-item p {
    color: var(--blue-text);
    font-size: 14px;
    margin-bottom: 10px
}

.form {
    position: relative;
}

.form .form-item .img-input-group {
    position: relative;
    margin-bottom: 30px;
}

.form .form-item .img-input-group img {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    width: auto;
    max-width: unset;
    height: unset;
}

.form .form-item .img-input-group .form-control {
    padding: 15px;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(239, 240, 246, 1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(239, 240, 246, 1);
    box-shadow: 5px 5px 10px 0px rgba(239, 240, 246, 1);
}

.form .form-item label {
    color: var(--blue-text);
    font-size: 15px;
}

.form .buttons {
    color: var(--blue-text);
    font-size: 15px;
}

.form .buttons {
    position: absolute;
    bottom: -100px;
    width: 100%;
}

.form .buttons .btn {
    font-size: 15px;
    border-radius: 30px;
    padding: 15px 35px;
}

.form .buttons .next {
    position: absolute;
    right: 0;
    bottom: 0;
}

.form .buttons .prev {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--blue-text);
    background: transparent;
    border: 1px solid var(--blue-text);
}

/* get-in-touch-form end */


/* footer start */

footer {
    padding: 50px 0;
    background: var(--blue-bg);
}

footer h4 {
    color: var(--white-color);
    font-size: 18px;
    margin: 40px 0 30px 0;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: var(--white-color);
    font-size: 14px;
    display: block;
    padding: 10px 0;
}

footer .reach-us ul li a {
    padding-left: 40px;
    position: relative;
}

footer .reach-us ul li a img {
    position: absolute;
    left: 0;
    top: 12px;
}

footer .newsletter p {
    color: var(--white-color);
    font-size: 12px;
    opacity: 0.5;
}

footer .reach-us ul li a img {
    width: auto;
    max-width: unset;
}

footer .newsletter {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    padding: 20px 15px;
    margin-top: 30px;
}

footer .newsletter h4 {
    margin: 0px 0 20px 0
}

footer .input-group .form-control {
    font-size: 11px;
    border: none;
    padding: 10px;
}

footer .input-group .input-group-text {
    font-size: 11px;
    background: var(--blue-bg);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

/* footer end */


/* inner banner start */
.inner-banner {
    position: relative;
}

.inner-banner .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.inner-banner h2.text {
    color: var(--white-color);
    font-size: 46px;
}

/* inner banner end */

/* About Us start */
/* Our Leadership start */

.prfile-caption {
    background: #423a7d;
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -10px;
    padding: 1em;
    width: 40%;
    height: 90%;
    transition: left 1s ease-in-out;
}

.prfile-caption p {
    color: var(--white-color);
}

.card {
    position: relative;
    border-radius: 0;
    border: none;
    margin: 30px 15px 0 15px;
    cursor: pointer;
}

.card:hover .prfile-caption {
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}


/* Value Start */
.value {
    background: url(../images/value-bg.jpg) no-repeat;
    background-size: 100%;
}

.value .value-card {
    background: var(--blue-bg);
    color: var(--white-color);
    padding: 20px;
    margin: 20px 0 0 0;
    height: 350px;
    transition: 0.5s;
}

.value .value-card h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--white-color);
}
.value .value-card:hover{
    background: var(--white-color);
}
.value .value-card:hover h3,
.value .value-card:hover p{
    color: var(--blue-text);
}
/* Value End */

/* vision mission start */
.vision-mission-main {
    margin-top: 100px;
}

.vision-mission {
    background: rgba(88, 70, 140, 80%);
    padding: 20px;
    margin: 70px -150px 0 0;
    position: relative;
}

.vision-mission-item {
    margin-bottom: 20px;
}

.vision-mission img {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    max-width: unset;
}

.vision-mission h3 {
    color: var(--white-color);
    font-size: 28px;
    margin-bottom: 10px;
}

.vision-mission p {
    color: var(--white-color);
    font-size: 14px;
}

/* vision mission end */

/* about-form start */
.about-form {
    background: var(--blue-bg);
    width: 80%;
    margin: auto auto 40px auto;
}

.about-form h3 {
    color: var(--white-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.about-form p {
    color: var(--white-color);
    font-size: 14px;

}

.about-form .form-control {
    background: rgba(255, 255, 255, 20%);
    border: 1px solid rgba(255, 255, 255, 20%);
    font-size: 14px;
    color: #fff;
    padding: 10px;

}

.about-form ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 60%);
}

.about-form ::-moz-placeholder {
    color: rgba(255, 255, 255, 60%);
}

.about-form :-ms-input-placeholder {
    color: rgba(255, 255, 255, 60%);
}

.about-form :-moz-placeholder {
    color: rgba(255, 255, 255, 60%);
}

.about-form textarea {
    resize: none;
}

.about-form .submit-btn {
    color: var(--white-color);
    border: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(97, 206, 112, 1) 100%);
    padding: 10px;
}

/* about-form end */

/* About Us end */


/* Contact start */
.contact-form h2 {
    background: var(--blue-bg);
    display: inline-block;
    color: var(--white-color);
    padding: 10px 20px;
}

/* Contact end */


/* Blog end */
.blog-about p{
    color: var(--black-color);
}
/* .blog-about .blue-vertical-left:before {
    content: "";
    position: absolute;
    background: var(--blue-bg);
    top: 25%;
    bottom: 25%;
    width: 15px;
    display: block;
    left: -50px;
    z-index: 9;
} */
.blog-about .copy{
    padding-left: 80px;
}
.blog-about .copy h3{
    font-size: 32px;
    color: var(--black-color);
}
.latest-item{
    position: relative;
    border: 1px solid #B3B3B3;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0;
}
.latest-item .latest{
    padding-left: 45px;
}
.latest-item  img{
    position: absolute;
    left: 15px;
    top: 15px;
    width: auto;
    height: auto;
    max-width: unset;
}
.latest-item .latest h4{
    color: var(--black-color);
    font-size: 18px;
    font-weight: 700;
}
.services-offer{
    background: var(--blue-bg);
    border-radius: 0 30px 30px 0;
    padding: 55px 0 65px 0;
    margin-top: 20px;
}
.services-offer:before {
    content: "";
    position: absolute;
    left: -33%;
    top: 0;
    background: var(--blue-bg);
    width: 34%;
    z-index: -1;
    height: 100%;
}
.services-offer h2 {
    color: var(--white-color);
    margin-bottom: 35px;
}
.services-offer ul li {
    color: var(--white-color);
    padding: 5px 0 15px 0px;
    position: relative;
    font-size: 20px;
}
/* .services-offer ul li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white-color);
    left: 0;
    top: 50%;
} */
.services-offer ul{
    position: relative;
    padding-left: 1.3em;
}
/* .services-offer ul:before {
    content: "";
    position: absolute;
    background: var(--green-bg);
    top: 0px;
    bottom: 0px;
    width: 15px;
    display: block;
    left: -35px;
    z-index: 9;
} */
.blog-img {
    padding: 20px;
}

.blog .blog-card{
    margin-bottom: 30px;
    border: none;
}
.blog .blog-card img{
    margin-bottom: 10px
}
.blog .blog-card .figure-caption{
    position: relative;
}
.blog .blog-card .figure-caption h5{
    margin-bottom: 10px;
    color: var(--link-text);
    font-size:15px;
    text-decoration: underline;
    font-weight: 600;
}
.blog .blog-card .figure-caption h4{
    margin-bottom: 10px;
    color: var(--black-color);
    font-size: 20px;
    text-decoration: underline;
    padding-right: 20%;
    font-weight: 700;
}
.blog .blog-card .figure-caption span{
    position: absolute;
    right: 0;
    bottom: 10px;
}

/* Blog start */


.radio-inputs {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.radio-inputs label {
    width: 100%;
}
.radio-tile{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(239,240,246,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(239,240,246,1);
    box-shadow: 0px 0px 10px 0px rgba(239,240,246,1);
    border-radius: 15px;
}
.radio-input:checked+.radio-tile {
    border: 1px solid #2260ff;
}

.radio-inputs input {
    opacity: 0;
}

.radio-tile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    min-height: 100px;
    padding-left: 100px;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid transparent;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    top: 23%;
    left: 7%;
    transition: 0.25s ease;
}



/* Services start */
.services{
    overflow: hidden;
}
.services-slider {
    padding-bottom: 50px;
    margin-bottom: 30px;
}
.marquee-slider .services-box {
    background: #ededed;
    padding: 1em 1em;
    border-radius: 10px;
    width: 35%;
}
.marquee-slider .services-box img{
    width: auto;
    height: auto;
}
.marquee-slider .services-box p{
    margin-top: 10px;
    color: var(--blue-text);
    font-weight: 700;
}

.services-slider .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}
.services-slider .figure{
    -webkit-box-shadow: 0 5px 5px 1px rgb(195 195 195 / 50%);
    -moz-box-shadow: 0 5px 5px 1px rgb(195 195 195 / 50%);
    box-shadow: 0 5px 5px 1px rgb(195 195 195 / 50%);
    border-radius: 15px;
    transition: 0.5s;
}

.services-slider .figure-caption{
    background: #fff;
    padding:20px 15px;
    border-radius: 0 0 15px 15px;
    border: 1px #E2F2F4 solid;
    border-top: none;
}
.services-slider a{
    display: block;
}
.services-slider .figure img {
    border-radius: 15px 15px 0 0;
}
.services-slider .figure-caption h3{
    color: var(--blue-text);
    font-size: 16px;
}
.services-slider .figure-caption p{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--blue-text);
}
.services-slider .figure:hover{
    -webkit-box-shadow: 0 15px 10px 1px rgb(195 195 195 / 50%);
    -moz-box-shadow: 0 15px 10px 1px rgb(195 195 195 / 50%);
    box-shadow: 0 15px 10px 1px rgb(195 195 195 / 50%);
}
.services-slider .figure:hover h3{
    color: var(--green-text);
}
/* .lorem{
    background: var(--blue-bg);
}
.lorem h2 {
    position: relative;
    color: var(--blue-text);
    background: #fff;
    display: inline-block;
    width: auto;
    padding: 30px 30px 30px 50px;
}
.lorem h2:before{
    content: '';
    width: 20px;
    height: 100%;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
} */
 .title-two h2{
    border-left: 10px solid var(--blue-text);
    padding: 25px;
    display: inline;
    background: #fff;
    position: relative;
 }
 .title-two .row{
    margin-bottom: 40px;
 }
 /* .title-two :after{
    content: "";
    position: absolute;
    top: -26px;
    bottom: 0;
    left: 13.5%;
    right: 0%;
    background: var(--blue-bg);
    padding: 47px;
 } */



/* .choose start */
.choose-item{
    margin-top: 50px;

}
.choose-item img{
    width: auto;
    height: auto;
    margin-bottom: 15px;
    transition: 0.5s;
}
.choose-item p{
    color: var(--blue-text);
    margin-bottom: 10px;
}
/* .choose-item p b, .choose-item a{
    font-size: 18px;
} */
.choose-item a {
    color: var(--green-text);
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    transition: 0.5s;
}
.choose-item:hover img{
    transform: translateY(-15px);
}

.choose-item:hover a{
    padding-left: 10px;
}


/* Services end */

/* policies start */
.policies-item{
    margin-bottom: 30px;
}
.policies-item img{
    border-radius: 10px;
}
.quotes{
    margin: 40px 0;
}
.quotes h3{
    padding: 20px 200px;
    font-weight: normal;
    color: var(--blue-text);
    line-height: 1.3;
    font-size: 28px;
}
/* policies end */